@import "root.scss";

/* import components */
@import "component/button.scss";
@import "component/calendar.scss";
@import "component/dropdown.scss";
@import "component/input.scss";
@import "component/side-menu.scss";
@import "component/table.scss";
@import "component/toggle.scss";

.topbar {
  @apply flex justify-between h-[64px] items-center fixed bg-primary w-full left-0 z-30;
  @media screen(md) {
    @apply h-[83px] bg-secondary;
  }
}
.sidebar {
  @apply bg-primary w-[260px] h-screen fixed hidden z-20 pt-[64px];
  @media screen(md) {
    @apply pt-[83px] block;
  }
  &.show {
    @apply block;
  }

  > ul {
    padding-bottom: 200px;
    max-height: calc(100vh - 83px);
  }
}

p {
  line-height: 25.6px;
}

.card {
  @apply rounded-2xl bg-primary border border-gray-200;
}

.modal {
  @apply hidden h-screen w-screen bg-gray-900 bg-opacity-70 z-30 fixed items-center justify-center;
  &.show {
    @apply flex;
  }
}
ul.item-circle {
  list-style-position: outside;
  li {
    list-style-type: disc;
    margin-left: 1.4rem;
  }
}

.content-wrapper {
  @apply flex flex-col w-full mt-[64px] justify-between;
  @media screen(md) {
    @apply pl-[260px] mt-[83px];
  }
}

.footer {
  @apply py-4 px-6 text-sm text-primary flex-col flex items-center leading-7;
  @media screen(md) {
    @apply flex-row justify-between;
  }
}
