@import "root.scss";

/* import components */
@import "component/button.scss";
@import "component/dropdown.scss";
@import "component/input.scss";
@import "component/side-menu.scss";
@import "component/table.scss";
@import "component/toggle.scss";

aside {
  > ul {
    padding-bottom: 200px;
    max-height: calc(100vh - 83px);
  }
}

p {
  line-height: 25.6px;
}

.card {
  @apply rounded-2xl bg-primary border border-gray-200;
}

.modal {
  @apply hidden h-screen w-screen bg-gray-900 bg-opacity-70 z-30 fixed items-center justify-center;
  &.show {
    @apply flex;
  }
}
