@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-bg-opacity: 1;
  /* colors */
  --bg-primary: #FFFFFF;
  --bg-secondary: #F9F9F9;
  --bg-tertiary: #F4F6FF;
  --bg-accent: 5 44 194;
  --c-primary: #2c2c2c;
  --c-secondary: #828282;
  --c-accent: #052CC2;
  --c-gray-50: #f9f9f9;
  --c-gray-100: #f5f5f5;
  --c-gray-200: #f1f1f1;
  --c-gray-300: #a1a1a1;
  --c-gray-800: #676767;

  /* fonts */
  --font-sans: 'Inter', sans-serif;

  /* shadow */
  --shadow-default: 0px 8px 16px 0px #00000;
}
