@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-bg-opacity: 1;
  /* colors */
  --bg-primary: #ffffff;
  --bg-secondary: #f9f9f9;
  --bg-tertiary: #f4f6ff;
  --bg-accent: 5 44 194;
  --bg-gray-900: 44 44 44;
  --c-primary: #2c2c2c;
  --c-secondary: #828282;
  --c-accent: #052cc2;
  --c-gray-50: #f9f9f9;
  --c-gray-100: #f5f5f5;
  --c-gray-200: #f1f1f1;
  --c-gray-300: #a1a1a1;
  --c-gray-800: #676767;
  --c-red: #ff0000;
  --c-disabled: #cccccc;

  /* fonts */
  --font-sans: "Inter", sans-serif;
  --size-title: 2rem;
  --size-subtitle: 1.25rem;

  /* shadow */
  --shadow-default: 0px 8px 16px 0px #00000;
}
