input,
textarea,
select {
  @apply text-xs;
  @media screen(md) {
    @apply text-sm;
  }
  &::placeholder {
    @apply text-gray-300 text-xs;
    @media screen(md) {
      @apply text-sm;
    }
  }
  &:focus-visible {
    @apply outline-gray-300;
  }
}
select.input-field {
  @apply appearance-none bg-no-repeat pr-6 text-gray-300;
  &:focus {
    @apply text-primary;
  }
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 8.5L12 15.5L5 8.5' stroke='%23CCCCCC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-position: calc(100% - 1rem) center;
}
.form-data {
  @apply flex flex-col;
  label {
    @apply text-sm mb-1;
  }
  small {
    @apply text-xs text-gray-800 mb-1;
  }
}
.input {
  &-field {
    @apply rounded-lg bg-gray-50 h-12 border border-gray-200 px-4;
  }
  &-date {
    @apply bg-no-repeat pr-12;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.09277 9.40426H20.9167' stroke='%23CCCCCC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.442 13.3097H16.4512' stroke='%23CCCCCC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.0045 13.3097H12.0137' stroke='%23CCCCCC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.55818 13.3097H7.56744' stroke='%23CCCCCC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.442 17.1962H16.4512' stroke='%23CCCCCC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.0045 17.1962H12.0137' stroke='%23CCCCCC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.55818 17.1962H7.56744' stroke='%23CCCCCC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.0433 2V5.29078' stroke='%23CCCCCC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.96515 2V5.29078' stroke='%23CCCCCC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.2383 3.57919H7.77096C4.83427 3.57919 3 5.21513 3 8.22222V17.2719C3 20.3262 4.83427 22 7.77096 22H16.229C19.175 22 21 20.3546 21 17.3475V8.22222C21.0092 5.21513 19.1842 3.57919 16.2383 3.57919Z' stroke='%23CCCCCC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-position: calc(100% - 1rem) center;
  }
  &-time {
    @apply bg-no-repeat pr-12;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.25 12.0005C21.25 17.1095 17.109 21.2505 12 21.2505C6.891 21.2505 2.75 17.1095 2.75 12.0005C2.75 6.8915 6.891 2.7505 12 2.7505C17.109 2.7505 21.25 6.8915 21.25 12.0005Z' stroke='%23CCCCCC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.4311 14.9429L11.6611 12.6939V7.8469' stroke='%23CCCCCC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-position: calc(100% - 1rem) center;
  }
}

.textarea {
  max-width: calc(100vw - 4rem);
  @media screen(md) {
    max-width: 100%;
  }
  @apply rounded-lg border border-gray-200;
  &-toolbar {
    @apply bg-gray-200 flex justify-between items-center;
    button {
      @apply px-3 h-14 flex-shrink-0;
      @media screen(md) {
        @apply flex-shrink;
      }
      img {
        @apply h-full w-full object-contain h-6;
      }
    }
  }
  textarea {
    @apply w-full bg-gray-50 p-4 rounded-b-lg -mb-2;
  }
}
textarea.input-field {
  @apply h-auto py-3;
}

.uploader {
  @apply flex flex-col justify-evenly text-gray-800 h-[175px] text-xs text-center items-center leading-4 cursor-pointer bg-gray-50 px-4;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23CCCCCCFF' stroke-width='2' stroke-dasharray='8%2c 8' stroke-dashoffset='7' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 8px;
  @media screen(md) {
    @apply text-sm;
  }
}
