input,
textarea,
select {
  &::placeholder {
    @apply text-gray-300 text-sm;
  }
  &:focus-visible {
    @apply outline-gray-300;
  }
}
select.input-field {
  @apply appearance-none bg-no-repeat pr-6 text-gray-300;
  &:focus {
    @apply text-primary;
  }
  background-image: url(./assets/icons/arrow-down-disabled.svg);
  background-position: calc(100% - 1rem) center;
}
.form-data {
  @apply flex flex-col;
  label {
    @apply text-sm mb-1;
  }
  small {
    @apply text-xs text-gray-800 mb-1;
  }
}
.input {
  &-field {
    @apply rounded-lg bg-gray-50 h-12 border border-gray-200 px-4;
  }
}

.textarea {
  @apply rounded-lg border border-gray-200;
  &-toolbar {
    @apply bg-gray-200 flex flex-row flex-wrap justify-between items-center;
    button {
      @apply px-3 h-14;
      img {
        @apply h-full w-full object-contain h-6;
      }
    }
  }
  textarea {
    @apply w-full bg-gray-50 p-4 rounded-b-lg -mb-2;
  }
}

.uploader {
  @apply flex flex-col justify-between text-gray-800 h-[175px] text-sm text-center items-center py-10 leading-4 cursor-pointer;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23CCCCCCFF' stroke-width='2' stroke-dasharray='8%2c 8' stroke-dashoffset='7' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 8px;
}
